{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

   {#{% for key,list in lists %}
       <h1>{{ key }} {{ list }} </h1>

   {% endfor %}#}

    <h3>{{ translated.one }}</h3>
    <h3>{{ translated.two }}</h3>
    <h3>{{ translated.three }}</h3>
    <h3>{{ translated.four }}</h3>

{% endblock %}
{% block javascripts %}{% endblock %}